body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin: 0 auto;
    line-height: 1.5;
}
/**Global**/
.container{
    margin:0 auto;
}
a{
    text-decoration: none;
}

/***Header***/
a {
    text-decoration: none;
}
.gl_pad{
    padding: 60px 0;
}

header {
    height: 600px;
    background-color: #a365d8;   
}
.container_fluid{
    max-width: 1000px;
    margin: 0 auto;
}
.container_fluid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.head_logo {
    font-family: 'Ultra', serif;
    font-size: 26px;
    letter-spacing: 1.5px;
}

.head_menu a {
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    text-transform: uppercase;
    margin: 10px;
}

.head_menu a:hover {
    background-color: #981f98;
    border-radius: 5px;
    padding: 5px 10px;
}

.head_logo a,
.head_menu a,
.start_banner h3,
.start_banner a {
    color: #efefef;
}

.start_banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px auto;
}

.start_banner h2 {
    text-align: center;
    padding: auto 10px;
    font-size: 36px;
    line-height: 60px;
    letter-spacing: 1.2px;
    word-spacing: 3px;
    font-weight: 900;
}

.start_banner a {
    margin: 20px;
    padding: 20px 80px;
    background-color: rgba(255, 157, 0, 0.79);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
}

.btn.head span{
    background-color: #ffe51b;
    color: rgb(141, 51, 181);
}

/***Paragraf***/
.paragraf {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.paragraf__title{
    text-transform: uppercase;
    font-size: 28px;
}
.paragraf__line{
    width: 80px;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.4);
}
.paragraf__text{
    max-width: 800px;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
}

.col__ico-brand{
    max-width: 100px;
}
/**Sections**/

/***Sevvices***/
.services{
    background-color: #5bd095;
}

.section-row {
    display: flex;
    justify-content: center;
}

.col-iteam {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    padding:0 10px;  
}

.col-iteam__ico {
    max-width: 100px;
    height: auto;
}

.col-iteam__title{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
}

.col-iteam__text{
    line-height: 1.5;
}

/***Meet***/
.meet{
    background-color: #238bf4;
    position: relative;
}

.round-photo {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: rgb(255, 255, 255);
}

.col-iteam__curs_text{
    color: #744200;
}
.col-iteam__social_ico {
    display: flex;
    justify-content: center;
    width: 200px;
    margin-top: auto;
}
.col-iteam__social_ico img{
    height: 25px;
    padding: 0 10px;
}

/***Skills***/
.skills{
background-color: #433d39;
}

.col-iteam__circle-prog {
    margin: 40px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: antiquewhite;
    border: 10px solid;
    border-color: #1ff8f8;
    background-color: rgba(240, 248, 255, 0);
    border-top-color: #525252;
    border-top-width: 0.45em;
    border-right-color: #1ff8f8;
    border-right-style: solid;
    border-right-width: 0.45em;
    border-bottom-color: #1ff8f8;
}

.blue {
    border-top-color: #525252 border-top-width: 0.45em;
    border-right-color: #621ff8;
    border-right-style: solid;
    border-right-width: 0.45em;
    border-bottom-color: #621ff8;
    border-left-color: #621ff8;
}

.green {
    border-top-color: #20dd36;
    border-top-width: 0.45em;
    border-right-color: #20dd36;
    border-right-style: solid;
    border-right-width: 0.45em;
    border-bottom-color: #525252;
    border-left-color: #525252;
}

.fiolet {
    border-top-color: #821dc1;
    border-top-width: 0.45em;
    border-right-color: #821dc1;
    border-right-style: solid;
    border-right-width: 0.45em;
    border-bottom-color: #821dc1;
    border-left-color: #525252;
}

/***Portfolio***/
.portfolio {
    background-color: #e09a3e;
   justify-content: space-between;
}

.portfolio-button{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.portfolio-button span{
    padding:8px 25px;
    margin: 0 10px;
    border-radius: 10px;
    background-color: rgba(57, 57, 57, 0.6);
}
.portfolio-button span:nth-child(1){
    background-color:rgb(46, 26, 1);
}

.portfolio-row{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.col-portfolio {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding:0 60px;
}

.col-portfolio-img img{
    width: 100%;  
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.btn span{
    padding: 20px 40px;
 background-color: #ff00ff;
}

/***Meet***/
.meet{
    background-color: #00baff;
}

.meet-row{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
}

.round-photo.meet{
    margin: 10px;
    margin-top: 0;
    background-color: #ffffff;
}
.fist_col {
    width: 50%;
    height: auto;
    display: flex;
}
.col-iteam.meet{
    margin-left: 20px;
    padding:10px 0;
    align-items:flex-start;
    max-width: 300px;
}
.col-iteam__curs_text.meet{
letter-spacing: 1.5px;
    font-weight: 500;
    color: #fff958;
}

.col-iteam__text.meet{
    margin: 0;
    font-style: italic;
    letter-spacing: 1.5px;
    font-size: 15px;
    width: 300px;
}

/***Mesege***/
.meseg{
    background-color: #0027ff;
}
.inputs{
    max-width: 1000px;
    margin: 0 auto;
}

.inputs__row{
    display: flex;
    padding: 10px;
}

.short-input{
    justify-content: space-between;
}

.inputs__row_short input {
    width: 440px;
}

.inputs__row_long textarea{
    width: 940px;
    height: 200px;
}

input, textarea{
    background-color: #1e3490;
    padding:20px; 
    border-radius: 5px;
    border-color:rgba(250, 235, 215, 0);
    font-size: 16px;  
}

.inputs ::placeholder {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0.5px;
    padding-left: 10px;
    font-weight: 400;
}

textarea{
    color: #dc1497;
}

.meseg span{
    background-color: #1e3490;
}

/***Social midia***/
.footer{
    background-color: #1b316d;
}
 .social_midia ul{
     font-size: 18px;
    display: flex;
     width: 800px;
     margin-top: 0px;
     margin: auto;
     padding: 35px;
}

.social_item li{
    margin: 10px;
    list-style: none;
    margin: auto;
}

.social_item li{
 color: #fde8fa;
}

.social_item a{
       color: aliceblue;
}

.social_item a:hover{
    color: aqua;
}






